<html>
	<head>
		<meta charset="UTF-8">
            <title>INTEG JIRA</title>
            <div class="container">
				<h1 class="titulo">Fitro de Issues</h1>
			</div>
            <link rel="stylesheet" type="text/css" href="public/app.css">     
        </meta>
	</head>
    <body>
        <table class="itens">
            <tr class="tabTitulo">
                <td>Type</td>
                <td>Issue</td>
                <td>Rótulo</td>
                <td>Descrição</td>
            </tr>
            <%for(var i=0;i<filter.issues.length;i++) {%>
                <tr class="tabItens">	
                    <td><%=filter.issues[i].fields.issuetype.name%></td>
                    <td><a href="http://jiraproducao.totvs.com.br/browse/<%=filter.issues[i].key%>" target="_blank"> <%=filter.issues[i].key%> </a></td>
                    <td><%=filter.issues[i].fields.customfield_11900%></td>
					<td><%=filter.issues[i].fields.description%></td>
                </tr>
            <%}%>
            <tr>
            </tr>
        </table>
    </body>
</html>